/* Definición de la tipografía del sistema (Estilo Apple) */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Evita el destello gris/azul feo por defecto al tocar botones en pantallas táctiles de móviles */
* {
    -webkit-tap-highlight-color: transparent;
}

/* Transiciones ultra-suaves personalizadas para los enlaces de navegación */
.nav-link {
    transition: color 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        background-color 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        border-color 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Comportamiento dinámico de las tarjetas de proyectos */
.project-card {
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
        border-color 0.5s cubic-bezier(0.16, 1, 0.3, 1),
        background-color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Solo aplica la elevación en pantallas donde el usuario use ratón (evita bugs en móviles) */
@media (hover: hover) {
    .project-card:hover {
        transform: translateY(-4px);
    }
}

/* Botones de Redes Sociales con efecto elegante */
.social-btn {
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        background-color 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        border-color 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        box-shadow 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (hover: hover) {
    .social-btn:hover {
        transform: scale(1.02);
        border-color: #00DF81;
        box-shadow: 0 10px 30px -15px rgba(0, 223, 129, 0.2);
    }

    .social-btn.bg-white:hover {
        background-color: #00DF81;
    }
}

/* Personalización de la barra de desplazamiento lateral (Scrollbar) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #18181b;
    /* zinc-900 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00DF81;
}